.container {
    background-image: url(src/assets/images/coowner-background.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    position: absolute;
    width: 350px;
    height: auto;
    /* clip: rect(50px, 50px, 50px, 50px); */
}

.options {
    position: absolute;
}

a[id^="button"] {
    text-decoration: none;
    background-color: #303533;
    color: rgba(255, 255, 255, 0.7);
}