.container {
    background-image: url(src/assets/images/coowner-background.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}